In [1]:
from pyspark.sql import SparkSession

from pyspark.sql import functions as F
from pyspark.sql import types as T

In [2]:
spark = SparkSession.builder.appName(name='dates_and_timestamps').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/18 23:38:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/18 23:38:38 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/18 23:38:38 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/02/18 23:38:38 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/02/18 23:38:38 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [7]:
df = spark.read.csv(
    path='data/aapl.csv',
    inferSchema=True,
    header=True
)
print(df.count(), len(df.columns))
df.printSchema()

184 7
root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Adj Close: double (nullable = true)
 |-- Volume: integer (nullable = true)

In [10]:
df.head(5)

[Row(Date=datetime.datetime(2014, 9, 29, 0, 0), Open=100.589996, High=100.690002, Low=98.040001, Close=99.620003, Adj Close=93.51429, Volume=142718700),
 Row(Date=datetime.datetime(2014, 10, 6, 0, 0), Open=99.949997, High=102.379997, Low=98.309998, Close=100.730003, Adj Close=94.556244, Volume=280258200),
 Row(Date=datetime.datetime(2014, 10, 13, 0, 0), Open=101.330002, High=101.779999, Low=95.18, Close=97.669998, Adj Close=91.683792, Volume=358539800),
 Row(Date=datetime.datetime(2014, 10, 20, 0, 0), Open=98.32, High=105.489998, Low=98.220001, Close=105.220001, Adj Close=98.771042, Volume=358532900),
 Row(Date=datetime.datetime(2014, 10, 27, 0, 0), Open=104.849998, High=108.040001, Low=104.699997, Close=108.0, Adj Close=101.380676, Volume=220230600)]

In [11]:
df.show(5)

+-------------------+----------+----------+----------+----------+----------+---------+
|               Date|      Open|      High|       Low|     Close| Adj Close|   Volume|
+-------------------+----------+----------+----------+----------+----------+---------+
|2014-09-29 00:00:00|100.589996|100.690002| 98.040001| 99.620003|  93.51429|142718700|
|2014-10-06 00:00:00| 99.949997|102.379997| 98.309998|100.730003| 94.556244|280258200|
|2014-10-13 00:00:00|101.330002|101.779999|     95.18| 97.669998| 91.683792|358539800|
|2014-10-20 00:00:00|     98.32|105.489998| 98.220001|105.220001| 98.771042|358532900|
|2014-10-27 00:00:00|104.849998|108.040001|104.699997|     108.0|101.380676|220230600|
+-------------------+----------+----------+----------+----------+----------+---------+
only showing top 5 rows

### Date Part

In [24]:
# F.dayofmonth
# F.hour
# F.dayofyear
# F.month
# F.year
# F.weekofyear
# F.format_number
# F.date_formats

In [18]:
df.select(F.dayofmonth(df['Date'])).show(5)

+----------------+
|dayofmonth(Date)|
+----------------+
|              29|
|               6|
|              13|
|              20|
|              27|
+----------------+
only showing top 5 rows

In [29]:
df.select(F.month(df['Date'])).distinct().show()

+-----------+
|month(Date)|
+-----------+
|         12|
|          1|
|          6|
|          3|
|          5|
|          9|
|          4|
|          8|
|          7|
|         10|
|         11|
|          2|
+-----------+