In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('logregconsult').getOrCreate()

In [10]:
data = spark.read.csv('data/customer_churn.csv', inferSchema=True, header=True)
print(data.count(), len(data.columns))
data.printSchema()

3150 16
root
 |-- Call  Failure: integer (nullable = true)
 |-- Complains: integer (nullable = true)
 |-- Subscription  Length: integer (nullable = true)
 |-- Charge  Amount: integer (nullable = true)
 |-- Seconds of Use: integer (nullable = true)
 |-- Frequency of use: integer (nullable = true)
 |-- Frequency of SMS: integer (nullable = true)
 |-- Distinct Called Numbers: integer (nullable = true)
 |-- Age Group: integer (nullable = true)
 |-- Tariff Plan: integer (nullable = true)
 |-- Status: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Customer Value: double (nullable = true)
 |-- FN: double (nullable = true)
 |-- FP: double (nullable = true)
 |-- Churn: integer (nullable = true)

In [9]:
data.show(5)

+-----+------+------+--------+----------+---------+---------+------------+-------------+------+-------+---------+-------------+--------------------+------+--------+
|CHURN|Gender|Status|Children|Est Income|Car Owner|      Age|LongDistance|International| Local|Dropped|Paymethod|LocalBilltype|LongDistanceBilltype| Usage|RatePlan|
+-----+------+------+--------+----------+---------+---------+------------+-------------+------+-------+---------+-------------+--------------------+------+--------+
|    T|     F|     S|     1.0|   38000.0|        N|24.393333|       23.56|          0.0|206.08|    0.0|       CC|       Budget|      Intnl_discount|229.64|     3.0|
|    F|     M|     M|     2.0|   29616.0|        N|49.426667|       29.78|          0.0|  45.5|    0.0|       CH|    FreeLocal|            Standard| 75.29|     2.0|
|    F|     M|     M|     0.0|   19732.8|        N|50.673333|       24.81|          0.0| 22.44|    0.0|       CC|    FreeLocal|            Standard| 47.25|     3.0|
|    F|     M|     S|     2.0|     96.33|        N|56.473333|       26.13|          0.0| 32.88|    1.0|       CC|       Budget|            Standard| 59.01|     1.0|
|    F|     F|     M|     2.0|   52004.8|        N|    25.14|        5.03|          0.0| 23.11|    0.0|       CH|       Budget|      Intnl_discount| 28.14|     1.0|
+-----+------+------+--------+----------+---------+---------+------------+-------------+------+-------+---------+-------------+--------------------+------+--------+
only showing top 5 rows

In [8]:
data.columns

['CHURN',
 'Gender',
 'Status',
 'Children',
 'Est Income',
 'Car Owner',
 'Age',
 'LongDistance',
 'International',
 'Local',
 'Dropped',
 'Paymethod',
 'LocalBilltype',
 'LongDistanceBilltype',
 'Usage',
 'RatePlan']

In [5]:
from pyspark.ml.feature import VectorAssembler

In [ ]:
assembler = VectorAssembler(inputCols=['Age','TotalPurchases',])